.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    display: none !important;
}
.wpcf7-not-valid {
    color: #fc5656 !important;
    border-color: #f05b6e !important;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 0.9em;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: -35px;
    right: 0;
    font-family: 'Open Sans', sans-serif;
}

.contact__group span.field_label {
    -webkit-transition: top 0.3s, font-size 0.3s;
    transition: top 0.3s, font-size 0.3s;
}
.contact__group {
    margin: 2.5rem 0;
}
.contact__group span.field_label.label-active {
    top: -0.75em;
}

div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
    border: 2px solid #ff0000;
    border: none;
    color: #fc5656;
    font-family: "Open Sans";
    font-size: 1em;
    text-align: center;
}
.grid_wrapper {    
    min-height: 80vh;
}

.dropline_img {
    padding-bottom: 25%;
}

@media (max-width: 500px) {
    .work__description--desk {
        display: none;
    }
}