.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    display: none !important;
}
.wpcf7-not-valid {
    color: #fc5656 !important;
    border-color: #f05b6e !important;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 0.9em;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: -35px;
    left: 0;
    font-family: 'Open Sans', sans-serif;
}

.contact__group span.field_label {
    -webkit-transition: top 0.3s, font-size 0.3s;
    transition: top 0.3s, font-size 0.3s;
}
.contact__group {
    margin: 2.5rem 0;
}
.contact__group span.field_label.label-active {
    top: -0.75em;
}

div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
    border: 2px solid #ff0000;
    border: none;
    color: #fc5656;
    font-family: "Open Sans";
    font-size: 1em;
    text-align: center;
}
.grid_wrapper {    
    min-height: 80vh;
}

.dropline_img {
    padding-bottom: 25%;
}

@media (max-width: 500px) {
    .work__description--desk {
        display: none;
    }
}

@media (min-width: 501px) {
    .work__description--mobile {
        display: none;
    }
}

.grecaptcha-badge {
    display: none !important;
}

img#change_to_gif_js_about_template.loading,
img#change_to_gif_js.loading {
    visibility: hidden;
}

.gif_block {
    position: relative;    
}

.gif_block.add_height {
    padding-bottom: 10px;
}

.gif_block__loader {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: calc(50% - 32px);
    max-width: 32px;
}

.contact__group.contact__group--4 {
    margin: 2.8rem 0 2.5rem;
}

.contact__group--4 span.field_label.label-active {
    top: -1.25em;
}
div.wpcf7-mail-sent-ok {
    border: none;
    text-align: center;
    color: #f14359;
    font-size: 1em;
    font-family: 'Open Sans';
}

#menu-item-68 a strong {
    position: relative;
    top: 3px;
}
li#menu-item-66 a strong {
    position: relative;
    top: 2px;
}
li#menu-item-69 a strong {
    position: relative;
    top: 1px;
}
li#menu-item-70 a strong {
    position: relative;
    top: 3px;
}
li#menu-item-67 a strong {
    position: relative;
    top: 2px;
}
li#menu-item-65 a strong {
    position: relative;
    top: 2px;
}

/*
*ie
*/
.internet-explorer.ie {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999999999;
    display: none;
}
.internet-explorer.ie.active {
    display: block;
}
.ie__content {
    width: 590px;
    position: absolute;
    top: calc(50% - 250px);
    left: 0;
    right: 0;
    margin: auto;
}
.ie__warning {
    width: 100px;
    height: 100px;
    background: url(../img/ie/warning.svg) center/contain no-repeat;
    margin: auto;
}

.ie__title {
    margin: 1.25em 0;
    text-transform: inherit;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 2em !important;
    text-align: center;
}

.ie__description {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.ie__hr {
    height: 8px;
    width: 100%;
    margin: 3em 0;
    background: url(../img/ie/ie_hr.svg) center/contain no-repeat;
}

.ie__browsers {
    height: 70px;
    width: 100%;
    background: url(../img/ie/browsers.png) center/contain no-repeat;
}


/*****************/

.nav__lang_wrapper {
    perspective: 1000;
    width: 2.5em;
    height: 2.5em;
    transition: .2s;
}

@media screen and (max-width:400px) {
    .nav__lang_wrapper {        
        width: 2.125em;
        height: 2.125em;        
    }
}

.nav__lang_wrapper:hover {
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* .nav__toggle_lang {
    transition: .2s;
}
.nav__lang_wrapper:hover .nav__toggle_lang {
    box-shadow: 2px 3px 6px #504f4f;
}
 */
.nav__lang_wrapper.hover .flipper {
    transform: rotateY(180deg);
}

.nav__lang_wrapper.hover .front {
    transition: 0s .25s;
    opacity: 0;
}

.flipper {
    transition: .5s linear;
    transform-style: preserve-3d;

    position: relative;
}

.front,
.back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {    
    transform: rotateY(-180deg);
}

/***************/

.order_here a:hover {
    transform: translateX(3px);
}

.order_here a {
    transition: .1s linear;
}

@media (min-width: 769px) {
	.nav--home {
		min-height: 132px;	
	}	

	.nav--home .logo {
		margin: auto;
		position: absolute;
			max-width: 450px;
		left: 0;
		right: 0;
		text-align: center;
	}
}
.contact__button button {
    transition: .2s;
}
.contact__button button:focus {
    background: #f05b6e;
}
.contact__button button:hover {
    background: #da5364;
}
.contact__button button:active {
    background: #f16b7c;
}